
  <table class="table table-dark table-striped" id="table">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripción</th>
        <th scope="col">Id_Producto</th>
      </tr>
    </thead>
    <tbody *ngFor="let Producto of productos ">
      <tr>
        <th scope="row">{{Producto.Producto}}</th>
        <td>${{Producto.Precio}}</td>
        <td>{{Producto.Descripcion}}</td>
        <td>{{Producto.Id_Producto}}</td>
      </tr>
    
    </tbody>
  </table>
